extends layout

block content
	div(style="height:60px;")
	div(data-bind="visible: !articleMode()")
		div(class="container")

			ul(class="thumbnails")
				li(class="span6 box" ,style="background-color:#FFFFFF;")
					div(class="thumbnail", style="height:200px;")
						div(class="caption")
						h3 Read 
							small get your next article
						p So as to make sure that we really burst your bubble we will feed you content that has been suggested by other users. Make sure that you read well and understand the article. Try to challange your world view. Dear to read something new!
						p 
							a(href="#", class="btn btn-primary", data-bind="click: getArticle") Get reading

				li(class="span6" ,style="background-color:#FFFFFF;")
					div(class="thumbnail", style="height:200px;")
						div(class="caption")
						h3 Post 
							small burst someone's bubble
						p Help your fellow bubble bursters by providing thought provoking material that can really challenge ther standpoint. Be the one that forces our community to consider the things you find interesting and important. 
						table
							tr
								td
									input(data-bind="value:linkToPost", class="",  placeholder="Link")
								td
									a(href="#", class="btn btn-primary", data-bind="click: postArticle") Post

	div(data-bind="visible: articleMode")
		div(class="container")
			div(class="article span9")
				h2(data-bind="text: articleTitle")
				div(data-bind="html: articleContent")

	div(data-bind="visible: postArticleMode")
		div(class="container")
			div(class="questionmMaker article span9")
				p
					i
						b Great,
						p You have created your bubble. To ensure a total bubble bursting experience for the reader, you have to create some true and false statements for your article.
				p
					table(data-bind="foreach: questions")
						tr
							td
								div(class="btn-group")
									button(class="btn") True
									button(class="btn") False
							td
									input(type="text", placeholder="Make a true or false statment.")

				p
					center Ok, im happy with my questions and i want to
				p
					center
						button(class="btn-large btn-success") Submit
	script(src='/js/home.js', type='text/javascript')