extends layout

block content

	div(class="headImage")

	div(class="join")		
		div(class="container")
			h4 Join and burst your bubble!
			form(METHOD="LINK", ACTION="/fbauth")
				input(type="submit", value="Login with facebook", class='btn btn-large btn-primary')

	

	div(class="pitch") 
		span You live in the bubble of your own unconsiously created content filters. All articles you read are just repetitions of your own opinion and you never learn anything new. It's time to take responsibility and feed your brain with ideas. You can't do this by yourself so let us help you make your brain into the amazing thing it could become.

	div(class="pitchHead") 
		h2 Welcome <small class="small">to </small> Bubble Burster
			
	div(class="stats")
		table
			tr
				td(style="padding:0 15px 0 15px;") Articles
				td(style="padding:0 15px 0 15px;") Members
			tr
				td(style="padding:0 15px 0 15px;") 1,012,323
				td(style="padding:0 15px 0 15px;") 10,123
				
	br
	br