extends layout

block content

	div(class="headImage")

	div(class="join")		
		div(class="container")
			h4(style="float: left;") Join this awesome community and burst your bubble!
			form(METHOD="LINK", ACTION="/fbauth")
				input(type="submit", value="Login with facebook", class='btn btn-large btn-primary joinButton')

	div(class="pitch")
		div(class="container")
			span You live in a bubble of your own unconsiously created content filters. All articles you read are just repetitions of your own opinion and you never learn anything new. It's time to take responsibility and feed your brain with ideas. You can't do this by yourself so let us help you make your brain into the amazing thing it could become.

	div(class="contacts")

	br
	br