!!!
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/BB.css')
    script(src='/js/lib/jquery-1.9.1.min.js', type='text/javascript')
    script(src='/js/lib/knockout-2.2.1.js', type='text/javascript')
    script(src='/js/lib/bootstrap.min.js', type='text/javascript')
  body
    block content