body{
	font-family: Italiana, ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
	background-color: #ffffff;
}

.headImage{
	background-image:url('../img/head.png');
    background-size: cover;
    background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left:0px;
	height: 100%;
	width: 100%;
}

.join{
	top: 60%;
	left: 10%;
	position: absolute;
	color: #FFFFFF;
}

.stats{
	margin-left: 10%;
	top: 90%;
	position: absolute;
	color: #FFFFFF;
	opacity: 10%;
	background-color: #000000;	
}

.pitchHead{
	top: 53%;
	left: 10%;
	position: absolute;
	color: #FFFFFF;
}

.pitchHead .small{
	color: #FFFFFF;
}

.pitch{
	top: 20%;
	left: 10%;
	width:250px;
	position: absolute;
	color: #FFFFFF;
}

.frame{
	background-color: #101010; 
	padding: 40px;
}

.secondFrame{
	background-color: #003366; 
	padding: 40px;
}

.article{
	padding: 50px;
	line-height:1.45;
	font-size: 22px;
	font-weight: normal;
	background-image:url('../img/paper.gif');
	background-repeat: repeat;
    box-shadow: 0px 0px 20px #CCC;
    margin-bottom: 20px;
}

.article li {
    display:none;
}
.article a {
    color: #333;
    text-decoration: underline;
}
.article a:hover {
    border-radius: 2px;
    text-decoration: none;
    color: #800080;
}
.article td {
    margin-bottom: 20px;
}
.article input[type="text"] {
    margin-bottom: 0px;
    width: 564px;
}
.article .questionmMaker .btn-group table tr td {
    display: none;
}
.box{
	border-radius:3px;
	border: 0px;
}

.loginButton{
	position: absolute;
	background-color: #000000;
	top: 30px;
	left: 30px;
	width: 50px;
	padding-left: 8px;
	height: 50px;
	line-height: 60px;
	font-size: 30px;
}

.loginButton a{
	color: #FFFFFF;
	font-size: 20px;	
}

.loginButton a:visited{
	color: #FFFFFF;
}

.loginButton .dropdown-menu{
	color: #FFFFFF;
	background-color: #000000;
	width: 51px;
	border-radius: 0px;
}

.open{
	width:155px;
}